<div class="poster-container">
	<svg class="poster-content" viewBox="0 0 100 141" preserveAspectRatio="none">
		<image x="0" y="0" width="100" height="141" [attr.xlink:href]="template.images[1]" preserveAspectRatio="none"></image>
		<image x="30" y="10" width="40" height="40" [attr.xlink:href]="template.images[0]" preserveAspectRatio="none"></image>
		<image x="0" y="0" width="100" height="141" [attr.xlink:href]="template.images[3]" preserveAspectRatio="none"></image>
	</svg>
	<div class="poster-content">
		<div class="headline">{{template.texts[0]}}</div>
		<div class="detail-container">
			<div class="detail">{{template.texts[1]}}</div>
			<div class="detail">{{template.texts[2]}}</div>
			<div class="detail">{{template.texts[3]}}</div>
		</div>
	</div>
</div>